<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
		<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
	</configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-RADCommandSuite-73d162be-4867-47ff-be61-3b6279a8cc8e;AttachDbFilename=|DataDirectory|\aspnet-RADCommandSuite-73d162be-4867-47ff-be61-3b6279a8cc8e.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=USHYDABHISHEMI5;Initial Catalog=Video-Up;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=WIN-3R2103861JK\SQLEXPRESS;Initial Catalog=Video_Up_NewDB;Persist Security Info=True;User ID=VideoUp;Password=vup123" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=WIN-3R2103861JK\SQLEXPRESS;Initial Catalog=Video-Up;Persist Security Info=True;User ID=VideoUp;Password=vup123" providerName="System.Data.SqlClient"/>-->
    <add name="VUPEntities" connectionString="metadata=res://*/App_Code.VUPModel.csdl|res://*/App_Code.VUPModel.ssdl|res://*/App_Code.VUPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USHYDABHISHEMI5;initial catalog=Video-Up;persist security info=True;user id=Abhishek;password=Mishra@6m;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VUP_Entities" connectionString="metadata=res://*/App_Code.VUPModel.csdl|res://*/App_Code.VUPModel.ssdl|res://*/App_Code.VUPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USHYDABHISHEMI5;initial catalog=Video-Up;persist security info=True;user id=Abhishek;pwd=Mishra@6m;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="locationExportPath" value="C:\Temp\Locations.xls" />
    <add key="locationImportPath" value="C:\Temp\Locations.xls" />
    <add key="LogFilePath" value="C:\Video-Up\log\" />
    <add key="FolderPath" value="Media" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="SMTPServer" value="smtp.zoho.com" />
    <add key="Port" value="465" />
    <add key="EmailFrom" value="mail@video-up.com" />
    <add key="EnableSSL" value="true" />
    <add key="smtpUser" value="mail@video-up.com" />
    <add key="smtpPass" value="123mail123" />
    <add key="SchedulerServiceUrl" value="http://localhost:63813/Services/SchedulerService.svc/" />
    <add key="imageLocation" value="C:\VUP\" />
    <add key="ffmpegLocation" value="C:\Video-Up\Video_Up\RADVupTiles\Bin\ffmpeg.exe" />
  </appSettings>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/ServerStuff/Login.aspx" timeout="2880" slidingExpiration="true" />-->
      <forms loginUrl="Pages/StoryPage.aspx"  />
    </authentication>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <membership defaultProvider="VideoUpMembershipProvider">
      <providers>
        <!--Add a customized SqlMembershipProvider -->
        <add name="VideoUpMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="Video-Up" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="VideoUpProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DefaultConnection" applicationName="Video-Up" />
      </providers>
    </profile>
    <compilation debug="true" targetFramework="4.0" batch="false">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="System.Windows, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <customErrors mode="Off" defaultRedirect="~/Pages/ErrorPages/CustomErrorPage.aspx">
      <error statusCode="404" redirect="~/Pages/ErrorPages/404.aspx" />
    </customErrors>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID" enableSessionState="true">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" /></controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Version=2008.3.1105.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
    <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" /></httpHandlers>
    <roleManager enabled="true" defaultProvider="VideoUpSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="VideoUpSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="Video-Up" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  <sessionState mode="InProc" cookieless="AutoDetect" timeout="10" /></system.web>
  <system.net>
    <mailSettings>
      <smtp from="srikant@video-up.com">
        <network host="smtp.zoho.com" port="465" userName="srikant@video-up.com" password="sri789kant" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    <remove name="BotDetectCaptchaHandler" /><add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" /></handlers>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<botDetect helpLinkEnabled="true" helpLinkMode="image" />
</configuration>