<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <add name="RADDeviceMediaEntities" connectionString="Data Source=USHYDABHISHEMI4;Initial Catalog=Video-Up;Persist Security Info=True;User ID=Abhishek;Password=Mishra@3m" providerName="System.Data.SqlClient"/>
</packages>